* {
    margin: 0;
    padding: 0;
    top: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fec7d7;
    color: #0e172c;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: #ffe2ea;
}

.introduction {
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
    height: 72vh;
}

.introduction .img-wrapper {
    max-width: 10%;
    min-width: 10%;
}

.introduction .information {
    padding-top: 5%;
    text-align: center;
    max-width: 40%;
    min-width: 40%;
}

.introduction .information h2 {
    border-radius: 30px;
    padding: 2%;
    background-color: #0e172c;
    color: #fffffe;
    margin-bottom: 3%
}

.introduction img {
    width: 300px;
    height: 300px;
    box-shadow: 0px 10px 10px black;
    border-radius: 40px;
}

.facts {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #0e172c;
    height: 100vh;
}

.facts .section-title {
    padding: 3% 5%;
}

.facts .section-title h2 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    padding: 1%;
    max-width: 30%;
    border-left: 3px solid black;
    box-shadow: 0px 10px 10px gray;
}

.facts .facts-container {
    display: flex;
    justify-content: space-evenly;
    min-height: 80%;
}

.facts .fact {
    max-width: 30%;
}

.facts .fact h2 {
    padding: 2%;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-left: 3px solid black;
    margin-bottom: 3%;
    box-shadow: 0px 10px 10px gray;
}

.facts .fact p {
    padding: 2%;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 10px;
    min-height: 50%;
    border: 3px solid black;
    box-shadow: 0px 10px 10px gray;
}

.love-languages {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #0e172c;
    height: 100vh;
}

.love-languages .section-title {
    padding: 3% 5%;
}

.love-languages .section-title h2 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    padding: 1%;
    max-width: 30%;
    border-left: 3px solid black;
    box-shadow: 0px 10px 10px gray;
    margin-bottom: 2%;
}

.love-languages .love-languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 80%;
}

.love-languages .love-language {
    max-width: 18%;
    flex-grow: 1;
    flex-basis: 200;
}

.love-languages .love-language h2 {
    padding: 2%;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-left: 3px solid black;
    margin-bottom: 5%;
    box-shadow: 0px 10px 10px gray;
}

.love-languages .love-language p {
    padding: 2%;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 10px;
    min-height: 50%;
    border: 3px solid black;
    box-shadow: 0px 10px 10px gray;
}

.educations {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #0e172c;
    height: 175vh;
}

.educations .section-title {
    padding: 3% 5%;
}

.educations .section-title h2 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    padding: 1%;
    max-width: 30%;
    border-left: 3px solid black;
    box-shadow: 0px 10px 10px gray;
    margin-bottom: 2%;
}

.educations .education {
    display: flex;
    justify-content: space-around;
}

.educations .education-container .education {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
}

.educations .education-container .education .img-wrapper {
    min-width: 40%;
    max-width: 40%;
    min-height: 40%;
    max-height: 40%;
    display: flex;
    justify-content: center;
    transition: transform 0.5s;
}

.educations .education-container .education .img-wrapper:hover {
    transform: scale(1.15);
}

.educations .education-container .education .img-wrapper img {
    width: 300px;
    height: 300px;
    box-shadow: 0px 10px 10px black;
    border-radius: 40px;
    border: 3px solid black;
}

.educations .education-container .education .information {
    min-width: 40%;
    max-width: 40%;
    min-height: 40%;
    max-height: 40%;
    align-self: center;
}

.family {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #0e172c;
    height: 100vh;
}

.family .section-title {
    padding: 3% 5%;
}

.family .section-title h2 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    padding: 1%;
    max-width: 30%;
    border-left: 3px solid black;
    box-shadow: 0px 10px 10px gray;
    margin-bottom: 2%;
}

.family .family-container {
    display: flex;
    justify-content: center;
}

.family .info-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
}

.family .family-container .img-wrapper {
    min-width: 60%;
    max-width: 60%;
    min-height: 40%;
    max-height: 40%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.family .family-container .img-wrapper img {
    width: auto;
    height: 300px;
    box-shadow: 0px 10px 10px black;
    border-radius: 40px;
    border: 3px solid black;
    
}

.family .info-container .information {
    max-width: 30%;
    min-width: 30%;
    text-align: center;
}

.socials {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #0e172c;
    height: 60vh;
}

.socials .section-title {
    padding: 3% 5%;
}

.socials .section-title h2 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    padding: 1%;
    max-width: 30%;
    border-left: 3px solid black;
    box-shadow: 0px 10px 10px gray;
    margin-bottom: 2%;
}

.socials .social-container {
    padding: 1% 5%;
    font-size: larger;
    padding-bottom: 3%;
}

.socials a:link {
    color: #0e172c;
    text-decoration: none;
}

.socials a:visited {
    color: #0e172c;
    text-decoration: none;
}

.socials a:hover {
    color: #a786df;
    text-decoration: none;
}

.socials .end {
    padding-top: 2%;
    text-align: center;
}

.socials hr {
    max-width: 86%;
    margin-left: 8%;
    border: 1px solid #d296c1;
}